In [ ]:
import pandas as pd
data1 = [10,20,30,40,50]
df = pd.DataFrame(data1)
print (df)

    0
0  10
1  20
2  30
3  40
4  50

In [ ]:
import pandas as pd
data2 = [['Abdur',20],['Hash',12],['Clain',13]]
df = pd.DataFrame(data2,columns=['Name','Age'])
print (df)

    Name  Age
0  Abdur   20
1   Hash   12
2  Clain   13

In [ ]:
import pandas as pd
data = {'Name':['Traore', 'Jackshere', 'Stephen'],'Age':[28,34,29]}
df = pd.DataFrame(data)
print (df)

        Name  Age
0     Traore   28
1  Jackshere   34
2    Stephen   29

In [ ]:
import pandas as pd
data = {'Name':['Traore', 'Jackshere', 'Stephen', 'Ricky'],'Age':[18,24,19,62]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

            Name  Age
rank1     Traore   18
rank2  Jackshere   24
rank3    Stephen   19
rank4      Ricky   62

In [ ]:
import pandas as pd
data = [{'list1': 1, 'list2': 2},{'list1': 5, 'list2': 10, 'list3': 20}]
df = pd.DataFrame(data)
print (df)

   list1  list2  list3
0      1      2    NaN
1      5     10   20.0

In [ ]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [ ]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
#column selection

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([11, 22, 33, 44], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df['two'])

a    11
b    22
c    33
d    44
Name: two, dtype: int64

In [ ]:
#column selection
#presence of NAN will convert int to float

import pandas as pd

data = {'one' : pd.Series([11, 22, 33,44], index=['a', 'b', 'c','d']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}


df = pd.DataFrame(data)
print (df['one'])

a    11
b    22
c    33
d    44
Name: one, dtype: int64

In [ ]:
# Adding a new column to an existing DataFrame object with column label by passing new series

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

print (df)

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['two']+df['three']

print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [ ]:
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)
# using pop function
print ("Deleting another column using POP function:")
df.pop('three')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   two
a    1
b    2
c    3
d    4

In [ ]:
#Selection by Label

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['b'])

In [ ]:
#Selection by integer location

import pandas as pd

d = {'one' : pd.Series([1, 2, 3,4], index=['a', 'b', 'c','d']),
   'two' : pd.Series([1, 2, 3, 4,5], index=['a', 'b', 'c', 'd','e'])}

df = pd.DataFrame(d)
print (df.iloc[4])

one    NaN
two    5.0
Name: e, dtype: float64

In [ ]:
#Slice Rows using : operator

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df[1:3])

   one  two
b  2.0    2
c  3.0    3

In [ ]:
#Addition of Rows using append

import pandas as pd

df = pd.DataFrame([[1, 2, 9], [3, 4,10]], columns = ['a','b','c'])
df2 = pd.DataFrame([[5, 6,11], [7, 8,12]], columns = ['a','b','c'])
print (df)
print("after appending")
df = df.append(df2)
print (df)

   a  b   c
0  1  2   9
1  3  4  10
after appending
   a  b   c
0  1  2   9
1  3  4  10
0  5  6  11
1  7  8  12

In [ ]:
#Deletion of Rows

import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(1)

print (df)

   a  b
0  1  2
0  5  6

***PANDAS-1 series***

In [1]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
A = pd.Series(np.random.randn(7))
print (A)

0   -1.339310
1   -1.984010
2    0.912013
3   -0.310632
4   -0.606072
5   -1.608138
6    1.646629
dtype: float64

In [2]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
a = pd.Series(np.random.randn(2))
print ("The axes are:")
print (a.axes)

The axes are:
[RangeIndex(start=0, stop=2, step=1)]

In [3]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
a = pd.Series(np.random.randn(6))
print ("Is the Object empty?")
print (a.empty)

Is the Object empty?
False

In [4]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(6))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0    0.294788
1    0.390514
2    1.391344
3    0.039210
4   -0.072556
5   -0.294231
dtype: float64
The dimensions of the object:
1

In [5]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
sa = pd.Series(np.random.randn(3))
print (sa)
print ("The size of the object:")
print (sa.size)

0    0.040960
1    1.646188
2   -0.123721
dtype: float64
The size of the object:
3

In [6]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
sa = pd.Series(np.random.randn(3))
print (sa)

print ("The actual data series is:")
print (sa.values)

0    1.494972
1    0.180457
2   -1.611327
dtype: float64
The actual data series is:
[ 1.49497182  0.18045741 -1.61132717]

In [8]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
a = pd.Series(np.random.randn(6))
print ("The original series is:")
print (a)

print ("The first row of the data series:")
print (a.head(1))

The original series is:
0   -0.488310
1    0.958782
2   -0.832462
3   -1.954572
4   -0.335693
5    1.024940
dtype: float64
The first row of the data series:
0   -0.48831
dtype: float64

In [9]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(5))
print ("The original series is:")
print (s)

print ("The last three rows of the data series:")
print (s.tail(3))

The original series is:
0   -1.957820
1    1.222092
2    0.833385
3   -1.608054
4   -0.009546
dtype: float64
The last three rows of the data series:
2    0.833385
3   -1.608054
4   -0.009546
dtype: float64

***PANDAS-1 dictionaries***

In [10]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(dic)
print ("Our data series is:")
print (df)

Our data series is:
        Name  Age  Rating
0      Abdur   25    3.24
1      Saasa   25    3.98
2       Ayus   23    2.56
3    Stephen   30    3.20
4  Smith rao   29    4.60
5  Jackshere   23    3.80

In [12]:
import pandas as pd
import numpy as np
 
# Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}

# Create a DataFrame
df = pd.DataFrame(dic)
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
            0      1     2        3          4          5
Name    Abdur  Saasa  Ayus  Stephen  Smith rao  Jackshere
Age        25     25    23       30         29         23
Rating   3.24   3.98  2.56      3.2        4.6        3.8

In [13]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(dic)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=6, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [14]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(dic)
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [15]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(dic)
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [16]:
#ndim-Returns the number of dimensions of the object. By definition, DataFrame is a 2D object.

import pandas as pd
import numpy as np

#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(dic)
print ("Our object is:")
print (df)
print ("The dimension of the object is:")
print (df.ndim)

Our object is:
        Name  Age  Rating
0      Abdur   25    3.24
1      Saasa   25    3.98
2       Ayus   23    2.56
3    Stephen   30    3.20
4  Smith rao   29    4.60
5  Jackshere   23    3.80
The dimension of the object is:
2

In [17]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(dic)
print ("Our object is:")
print (df)
print ("The shape of the object is:")
print (df.shape)

Our object is:
        Name  Age  Rating
0      Abdur   25    3.24
1      Saasa   25    3.98
2       Ayus   23    2.56
3    Stephen   30    3.20
4  Smith rao   29    4.60
5  Jackshere   23    3.80
The shape of the object is:
(6, 3)

In [18]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(dic)
print ("Our object is:")
print (df)
print ("The total number of elements in our object is:")
print (df.size)

Our object is:
        Name  Age  Rating
0      Abdur   25    3.24
1      Saasa   25    3.98
2       Ayus   23    2.56
3    Stephen   30    3.20
4  Smith rao   29    4.60
5  Jackshere   23    3.80
The total number of elements in our object is:
18

In [19]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(dic)
print ("Our object is:")
print (df)
print ("The actual data in our data frame is:")
print (df.values)

Our object is:
        Name  Age  Rating
0      Abdur   25    3.24
1      Saasa   25    3.98
2       Ayus   23    2.56
3    Stephen   30    3.20
4  Smith rao   29    4.60
5  Jackshere   23    3.80
The actual data in our data frame is:
[['Abdur' 25 3.24]
 ['Saasa' 25 3.98]
 ['Ayus' 23 2.56]
 ['Stephen' 30 3.2]
 ['Smith rao' 29 4.6]
 ['Jackshere' 23 3.8]]

In [21]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(dic)
print ("Our data frame is:")
print (df)
print ("The first two rows of the data frame is:")
print (df.head(3))
print("default head values")
print (df.head())

Our data frame is:
        Name  Age  Rating
0      Abdur   25    3.24
1      Saasa   25    3.98
2       Ayus   23    2.56
3    Stephen   30    3.20
4  Smith rao   29    4.60
5  Jackshere   23    3.80
The first two rows of the data frame is:
    Name  Age  Rating
0  Abdur   25    3.24
1  Saasa   25    3.98
2   Ayus   23    2.56
default head values
        Name  Age  Rating
0      Abdur   25    3.24
1      Saasa   25    3.98
2       Ayus   23    2.56
3    Stephen   30    3.20
4  Smith rao   29    4.60

In [22]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
dic = {'Name':pd.Series(['Abdur','Saasa','Ayus','Stephen','Smith rao','Jackshere']),
   'Age':pd.Series([25,25,23,30,29,23]),
   'Rating':pd.Series([3.24,3.98,2.56,3.20,4.6,3.8])}

 
#Create a DataFrame
df = pd.DataFrame(dic)
print ("Our data frame is:")
print (df)
print ("The last two rows of the data frame is:")
print (df.tail(2))

Our data frame is:
        Name  Age  Rating
0      Abdur   25    3.24
1      Saasa   25    3.98
2       Ayus   23    2.56
3    Stephen   30    3.20
4  Smith rao   29    4.60
5  Jackshere   23    3.80
The last two rows of the data frame is:
        Name  Age  Rating
4  Smith rao   29     4.6
5  Jackshere   23     3.8